@import 'ember-paper';

.user{
  width: 100px;
  height:100px;
  border-radius: 50% !important;
}
.card{

  align-items: center;
}
.button{
  margin-top:30px;
  align-items: center;
}
.primary-button{
  width: 150px;
}
.first-card{
  height: 100%;
  align-items: center;
  margin-top: 25px;
}
.first-card-content{
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 50%;
  width: 130px;
  text-align: center;
}
.heading{
  background-color: #5c9ccc;
}
.cards{
  text-align:center;
  margin-top: 25px;
}
.name{
  font-weight: bold;
}
.details{
  padding-top: 2px !important;
}
.card-title{
  padding: 1px 1px 1px 1px !important;
}
